<div class="row align-items-center leadership-test">
	<div class="col-lg-3 py-3">
		<h4 class="text-center font-weight-bold mb-0"><%= question.options.first.full_text %></h4>
	</div>
	<div class="col-lg-6 py-3 px-0 px-md-2">
		<% question.statements.each_with_index do |statement,index|%>
		<% if !(index != 0 and  !@test.both_statements) %>
		<h3 class="mt-3 mb-2 text-center"><%= statement.full_text %> </h3>
		<div class="text-center radios">
			<% for i in (-2..2) %>
			<input type="radio"  id="r<%= i%><%= index%><%= statement&.id%>" class="r-<%= i.to_s %>" name="big<%= index%><%= statement&.id%>"><label for="r<%= i%><%= index%><%= statement&.id%>"></label>
			<% end %>
		</div>
		<% end %>
		<% end %>
	</div>
	<div class="col-lg-3 py-3">
		<h4 class="text-center font-weight-bold mb-0"><%= question.options.second.full_text %></h4>
		
	</div>
</div>