<div class="container-fluid container-top">
  <div class="container container-signin container-sign">
    <div class="modal-login-body">
      <h3 class="text-center"><%= t "devise.invitations.edit.header" %></h3>
      
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :invitation_token, readonly: true %>
        <% if f.object.class.require_password_on_accepting %>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: 'form-control login-form', required: true %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: 'form-control login-form', required: true %>
          </div>
        <% end %>
        <div class="actions mt-3">
          <%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-primary btn-lg btn-block mb-3 btn-submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

